In [90]:
# Ativar o ambiente virtual python 3.12.0
# .\.venv\Scripts\Activate.ps1

# Importação de bibliotecas
import numpy as np
import pandas as pd
from pydataset import data

In [95]:
# Obtendo o dataset mediante o código de referencia
df_titanic = data('titanic')

# 1316 rows x 4 columns
df_titanic.head(n=5)

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [92]:
# 1. Quantas pessoas sobreviveram e quantas morreram?
print(df_titanic['survived'].value_counts())

survived
no     817
yes    499
Name: count, dtype: int64

In [93]:
# 2. Quantas pessoas eram da primeira, segunda e terceira classe?
print(df_titanic['class'].value_counts())

class
3rd class    706
1st class    325
2nd class    285
Name: count, dtype: int64

In [94]:
# 3. Qual a porcentagem de sobreviventes na primeira classe?
class_first = df_titanic[(df_titanic["survived"] == "yes") & (df_titanic["class"] == "1st class")]

total_class_first = class_first["class"].count()
total_passengers = df_titanic["class"].count()

print(f"O percentual de sobreviventes da primeira classe foi de: {(total_class_first * 100)/total_passengers : .2f}% de um total de {total_passengers} passageiros")

O percentual de sobreviventes da primeira classe foi de:  15.43% de um total de 1316 passageiros

In [89]:
# 4. Qual a porcentagem de mortos da terceira classe?
class_first = df_titanic[(df_titanic["survived"] == "no") & (df_titanic["class"] == "3rd class")]

total_class_first = class_first["class"].count()
total_passengers = df_titanic["class"].count()

print(f"O percentual de mortos da terceira classe foi de: {(total_class_first * 100)/total_passengers : .2f}% de um total de {total_passengers} passageiros")

O percentual de mortos da terceira classe foi de:  40.12% de um total de 1316 passageiros